
#logo {
  text-align: center;
  overflow: hidden;
  left: 47%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#main {
  position: absolute;
  width: 100% - $left-bar-width;
  left: $left-bar-width;
  height: 100%;
  position: fixed;
}
